*{
    margin: 0px;
    padding: 0px;
}

.wrapper{
    width: 970px;
    background-color: #245076;
}

    .text{
        text-align: end;
        padding-right: 50px;
        padding-top: 10px;
    }
        .text p{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            display: inline-block;
            color: white;
        }
        .text a{
            color: goldenrod;
        }
        .vertical_bar{
            color: black;
            font-size: 15px;;
        }

    .python{
        width: 500px;
        display: inline-block;
    }
        .python img{
            height: 120px;
            margin-left: 35px;
        }

    .search_box{
        width: 250px;
        background-color: #444444;
        display: inline-block;
        vertical-align: top;
        padding: 12px;
        border-radius: 10px;
        margin-left: 166px;
        margin-top: 5px;
    }
        .search_box input {
            width: 145px;
            padding: 8px;
            text-align: center;
            margin-left: 25px;
        }
        .search_box button{
            border-radius: 4px;
            padding: 5px;
            background-color: #245076;
            color: white;
        }

        .nav_bar {
            width: 800px;
            background-color: #457ead;
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 30px;
            margin-left: 100px;
            padding-left: 15px;
            border-radius: 8px;
            padding: 5px;
        }
        .nav_bar h2{
            display: inline-block;
            padding: 5px;
            margin-left: 25px;
            font-size: 22px;
            color: white;
            font-weight: 100;
        }

    .links{
        width: 180px;
        margin-top: 20px;
        margin-left: 100px;
        display: inline-block;
    }
        .links ul li{
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            list-style-type: none;
            margin-top: 10px;
        }
        .links .arrows{
            font-size: 10px;
            color: goldenrod;
            margin-right: 5px;
        }
        .links a{
            color: white;
        }

    .paragraph{
        width: 650px;
        height: 320px;
        display: inline-block;
        vertical-align: top;
        margin-top: 15px;
    }
        .paragraph p{
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            font-size: 15px;
            color: white;
        }

    .quotes{
        width: 350px;
        text-align: center;
        margin-left: 145px;
        margin-top: 15px;
    }
        .quotes h2{
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 300;
            font-size: 20px;
            padding-top: 10px;
            color: #fed32e;
        }
        .quotes h3{
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 300;
            font-size: 17px;
            padding-top: 10px;
            color: white;
        }

    .middle_content{
        width: 970px;
    }
        .blue_line{
            width: 400px;
            border: 2px solid #73a7d5;
            margin-left: 50px;
            display: inline-block;
        }

    .get_started{
        width: 292px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 14px;
        margin-left: 85px;
        display: inline-block;
    }
        .get_started li{
            margin-left: 35px;
            list-style-type: square;
            text-align: center;
            font-size: 15px;
        }
        .get_started span{
            color: #75a8d5;
            font-size: 14px;
        }

    .applications{
        width: 330px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 14px;
        margin-left: 85px;
        display: inline-block;
        vertical-align: top;
        margin-left: 145px;
    }
        .applications .PyPI{
            font-size: 11px;
            color: #79abd6;
        }
        .applications li{
            margin-left: 50px;
            list-style-type: square;
            text-align: center;
            font-size: 15px;
        }
        .applications span{
            color: #75a8d5;
            font-size: 14px;
        }

    .footer{
        width: 967px;
        background-color: #2f6b9f;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        padding-top: 50px;
        text-align: center;
    }
    .footer h2{
        display: inline-block;
        margin-left: 50px;
        color: #82b4e0;
        font-weight: 100;
        }
        .footer p{
            text-align: center; 
            margin-top: 10px;
            color: #7eb1df;
        }
