*{
    margin: 0px;
    padding: 0px;
}

.wrapper{
    width: 970px;
    border: 2px solid teal;
}
    .text{
        text-align: end;
        padding-right: 50px;
        padding-top: 10px;
    }
        .text p{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            display: inline-block;
        }

    .python{
        width: 500px;
        border: 2px solid red;
        display: inline-block;
    }
        .python img{
            height: 120px;
            margin-left: 35px;
        }

    .search_box{
        width: 250px;
        border: 2px solid limegreen;
        display: inline-block;
        vertical-align: top;
        padding: 12px;
        border-radius: 10px;
        margin-left: 166px;
        margin-top: 5px;
    }
        .search_box input {
            width: 145px;
            padding: 8px;
            text-align: center;
            margin-left: 25px;
        }
        .search_box button{
            border-radius: 4px;
            padding: 5px;
            background-color: blue;
            color: white;
        }

        .nav_bar {
            width: 800px;
            border: 2px solid gray;
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 30px;
            margin-left: 100px;
            padding-left: 15px;
            border-radius: 8px;
            padding: 5px;
        }
        .nav_bar h2{
            display: inline-block;
            padding: 5px;
            margin-left: 15px;
            font-size: 22px;
        }

    .links{
        width: 180px;
        /* height: 217px; */
        border: 2px solid orange;
        margin-top: 20px;
        margin-left: 100px;
        display: inline-block;
    }
        .links ul li{
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            list-style-type: none;
            margin-top: 10px;
        }
        .links .arrows{
            font-size: 10px;
            color: goldenrod;
            margin-right: 5px;
        }

    .paragraph{
        width: 650px;
        border: 2px solid green;
        display: inline-block;
        vertical-align: top;
        margin-top: 15px;
    }
        .paragraph p{
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            font-size: 15px;
        }

    .quotes{
        width: 350px;
        border: 2px solid darkcyan;
        text-align: center;
        margin-left: 145px;
        margin-top: 15px;
    }
        .quotes h2{
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 300;
            font-size: 20px;
            padding-top: 10px;
            color: goldenrod;
        }
        .quotes h3{
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 300;
            font-size: 17px;
            padding-top: 10px;
            /* color: whitesmoke; */
        }

    .middle_content{
        width: 970px;
        border: 2px solid red;
    }
        .blue_line{
            width: 400px;
            border: 2px solid blue;
            margin-left: 50px;
            display: inline-block;
        }

    .get_started{
        width: 292px;
        border: 2px solid hotpink;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 14px;
        margin-left: 85px;
        display: inline-block;
    }
        .get_started h3{
            font-size: 18px;
        }
        .get_started li{
            margin-left: 35px;
            list-style-type: square;
            text-align: center;
            font-size: 15px;
        }
        .get_started span{
            color: orange;
            font-size: 14px;
        }

    .applications{
        width: 330px;
        border: 2px solid chartreuse;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 14px;
        margin-left: 85px;
        display: inline-block;
        vertical-align: top;
        margin-left: 145px;
    }
        .applications .PyPI{
            font-size: 11px;
            color: blue;
        }
        .applications li{
            margin-left: 25px;
            list-style-type: square;
            text-align: center;
            font-size: 15px;
        }
        .applications span{
            color: orange;
            font-size: 14px;
        }

    .footer{
        width: 967px;
        border: 2px solid darkred;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        padding-top: 50px;
    }
    .footer h2{
        display: inline-block;
        margin-left: 50px;
        }
        .footer p{
            text-align: center; 
            margin-top: 10px;
        }
