*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.globe{
  height: 80px;
}
h1{
  display: inline-block;
  font-size: 40px;
  font-weight: 100;
  position: absolute;
  margin-top: 20px;
}
span{
  color: lightskyblue;
}
.wrapper{
  width: 970px;
  border: 2px springgreen dotted;
}
.sub_heading {
  padding: 10px;
  font-size: 25px;
  width: 950px;
  border: 2px slateblue dotted;
  background-color: lightskyblue;
  margin-top: -15px;
  }

    .left_nav{
      width: 200px;
      /* height: 300px; */
      border: 2px pink dotted;
      display: inline-block;
    }
      .left_nav h4, h5{
        margin-top: 20px;
      }
      .left_nav .internet{
        color: red;
      }
      .left_nav span{
        color: dodgerblue;
      }
      .left_nav .one_watch, .two_resources{
        background-color: orange;
        padding: 8px;
        width: 180px;
        border-radius: 5px;
      }
      .left_nav .one_watch{
        margin-top: 20px;
        background-color: blue;
      }
      .left_nav hr{
        margin-top: 30px;
      }
      .advertisement{
        width: 290;
        height: 250px;
        margin-top: 25px;
        background-image: url("images/ad_background.png");
        padding: 10px;
      }
      .advertisement {
        text-align: center;
        color: white;
        font-weight: 100;
      }
      .advertisement .ninja{
        height: 110px;
      }
      .advertisement .learn{
        margin-left: 5px;
        background-color: turquoise;
        color: white;
        border-radius: 5px;
        padding: 4px;
        width: 170px;
        margin-top: 5px;
      }
    .main_content{
      width: 740px;
      border: 2px dodgerblue dotted;
      display: inline-block;
      vertical-align: top;
      height: 500px;
    }
      .contact_info{
        width: 720px;
        height: 50px;
        border: 2px purple dotted;
      }
        .paragraph_one{
          width: 720px;
          border: 2px saddlebrown dotted;
          height: 300px;
        }

