*{
    margin: 0px;
    padding: 0px;
}

.wrapper{
    border: 2px seagreen solid;
    width: 970px;
    font-family: Arial, Helvetica, sans-serif;
}
    .header img{
        width: 100px;
        display: inline-block;
    }
        .header h1{
            display: inline-block;
            vertical-align: top;
            font-size: 45px;
            margin-top: 35px;
            font-weight: 100;
        }
        .header span{
            color: skyblue;
        }
        .header h2{
            width: 950px;
            border: 2px rgb(124, 122, 136) solid;
            background-color: skyblue;
            padding: 10px;
            font-size: 30px;
            font-weight: 100;
        }

    .left_nav{
        width: 190px;
        border: 2px purple solid;
    }
    .left_nav h4{
        font-size: 15px;
    }
        .left_nav span{
            color: red;
        }
        .left_nav .watch{
            background-color: blue;
            color: white;
            padding: 10px;
            border-radius: 5px;
            width: 185px;
            margin-top: 15px;
        }
        .left_nav .resources{
            background-color: orange;
            color: white;
            padding: 10px;
            border-radius: 5px;
            width: 185px;
            margin-top: 2px;
        }
        .left_nav hr{
            margin-top: 20px;
        }

    .advertisement{
        background-image: url("Images/ad_background.png");
        height: 230px;
        width: 155px;
        color: white;
        text-align: center;
        padding: 20px;
    }
    .advertisement img{
        width: 100px;
    }
    .advertisement button{
        background-color: skyblue;
        border-radius: 5px;
        padding: 5px;
        width: 160px;
        color: white;
    }

    .main_content{
        width: 700px;
        border: 2px green solid;
    }