*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  margin-left: 150px;
}
.globe{
  height: 80px;
}
h1{
  display: inline-block;
  font-size: 40px;
  font-weight: 100;
  position: absolute;
  margin-top: 20px;
  color: #474747;
}
span .blue{
  color: #2768a0;
}
.wrapper{
  width: 970px;
  /* border: 2px springgreen dotted; */
}
.blue_net{
  color: #22659e;
}
.sub_heading {
  padding: 10px;
  font-size: 25px;
  width: 790px;
  /* border: 2px slateblue dotted; */
  background-color: lightskyblue;
  margin-top: -15px;
  color: white;
  background-image: linear-gradient(#25669e, #5182ab);
  }
    .left_nav{
      width: 200px;
      /* height: 300px; */
      /* border: 2px pink dotted; */
      display: inline-block;
    }
      .left_nav h4{
        margin-top: 20px;
      }
      .left_nav h5{
        margin-top: 20px;
      }
      .left_nav .internet{
        color: red;
      }
      .left_nav span{
        color: dodgerblue;
      }
      .left_nav .one_watch, .two_resources{
        background-color: #ed901e;
        padding: 8px;
        width: 180px;
        border-radius: 5px;
        color: white;
      }
      .left_nav .one_watch{
        margin-top: 20px;
        background-color: #3170a6;
      }
      .left_nav hr{
        margin-top: 30px;
      }
      .advertisement{
        width: 290;
        height: 250px;
        margin-top: 25px;
        background-image: url("images/ad_background.png");
        padding: 10px;
      }
      .advertisement {
        text-align: center;
        color: white;
        font-weight: 100;
      }
      .advertisement .ninja{
        height: 110px;
      }
      .advertisement .learn{
        margin-left: 5px;
        background-color: #00c0df;
        color: white;
        border-radius: 5px;
        padding: 4px;
        width: 170px;
        margin-top: 5px;
      }
    .main_content{
      width: 755px;
      /* border: 2px dodgerblue dotted; */
      display: inline-block;
      vertical-align: top;
      height: 500px;
      margin-left: 6px;
    }
      .contact_info{
        width: 585px;
        /* height: 50px; */
        /* border: 2px purple dotted; */
        padding: 10px;
      }
        .house{
          width: 20px;
        }
        .dns{
          display: inline-block;
          font-size: 13px;
          color: dodgerblue;
          text-align: initial;
        }
        .contact_info h5{
          margin-left: 445px;
          margin-top: -35px;
          font-size: 10px;
          font-weight: 100;
        }
        .phone{
          width: 35px;
          /* background-color: red; */
          margin-left: 395px;
        }
        .number {
          display: inline-block;
          font-size: 24px;
          position: absolute;
          margin-left: 12px;
          color: aqua;
          font-weight: 700;
          color: #00c0df
        }
        .international{
          margin-left: 445px;
          font-size: 10px;
          margin-top: -15px;
        }
        .contact_info hr{
          margin-top: 10px;
          width: 580px;
          color: green;
        }
        .paragraphs{
          width: 580px;
          /* border: 2px saddlebrown dotted; */
          /* height: 300px; */
          padding: 5px;
        }
          .paragraphs h3{
            color: #22659e;
          }
          .paragraphs p{
            font-size: 12px;
          }
          .paragraphs span{
            color: #0599af;
          }
          .paragraphs li{
            font-size: 12px;
            margin-left: 35px;
            margin-top: 10px;
          }
          .paragraphs .diagram{
            width: 220px;
            margin-left: 175px;
            margin-top: 10px;
          }
          .paragraph_two{
            margin-top: 10px;
          }
        .html_box{
          width: 555px;
          /* height: 50px; */
          border-top: 4px solid #0085e0;
          border-left: 4px solid #0085e0;
          border-right: 4px solid #0085e0;
          border-bottom: none;  
          margin-top: 15px;
          padding: 10px;
        }
          .three_circles{
            width: 100px;
          }
          .html_box h3{
            display: inline-block;
            vertical-align: top;
            margin-left: 15px;
          }
          .description{
            margin-left: 120px;
            margin-top: -70px;
            font-size: 13px;
          }
          .learn{
            margin-left: 120px;
            margin-top: 5px;
          }
          .html_box a{
            text-decoration: none;
          }
          

