*{
    margin: 0px;
    padding: 0px;
}

.wrapper{
    width: 970px;
    background-image: linear-gradient(white, rgb(243, 240, 240));
}
    .wrapper h1{
        font-family: 'comic sans ms';
        display: inline-block;
        padding: 15px;
    }
    .wrapper h2{
        font-family:calibri;
        font-size: 25px;
        display: inline-block;
        margin-left: 355px;
    }

    .background{
        background-image: linear-gradient(rgb(82, 1, 1), gray);
        width: 930px;
        padding: 20px;
    }
        .profile_pic img{
            height: 300px;
            width: 425px;
            border: 5px solid silver;
        }
        .profile_pic{
            display: inline-block;
        }

    .about_title{
        height: 40px;
        width: 465px;
        background-image: repeating-linear-gradient(silver, gray);
        display: inline-block;
        vertical-align: top;
        margin-left: 15px;
        padding: 5px;
        color:white;
    }
    .about_content p{
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
        color: black;
    }

    .about_content{
        height: 260px;
        width: 465px;
        margin-top: 19px;
        background-image: linear-gradient(to right, white , #dccddb);
    }
        .about_content a
        {
            color: black;
        }
/* CSS for project one La Mode */
    .project_one{
        display: inline-block;
        margin-left: 15px;
    }
        .la_mode{
            border: 2px dotted springgreen;
            height: 35px;
            width: 285px;
            margin-top: 20px;
        }
        .la_mode_pic img{
            height: 210px;
            width: 285px;
            border: 2px solid yellow;
        }
        .la_mode{
            font-family: Arial, Helvetica, sans-serif;
        }
        .la_mode_description{
            border: 2px solid fuchsia;
            height: 150px;
            width: 265px;
            font-family: Arial, Helvetica, sans-serif;
            padding: 10px;
        }
        .technolgies{
            border: 2px dotted springgreen;
            height: 35px;
            width: 285px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .logos{
            border: 2px solid paleturquoise;
            height: 130px;
            width: 255px;
            padding: 15px;
        }
            .logos img{
                width: 43px;
                height: 43px;
                padding: 2px;
            }
            .logos button{
                background-color: green;
                color: white;
                border-radius: 10px;
                padding: 5px;
                margin-left: 90px;
            }


